/* استایل‌های موجود */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* استایل‌های جدید برای وضعیت آب‌وهوا */
.app-container {
  text-align: center;
  padding: 50px;
  min-height: 100vh;
  font-family: Tahoma, sans-serif;
}

.clear {
  background: linear-gradient(to top, #fceabb, #f8b500);
  color: #333;
}

.clouds {
  background: linear-gradient(to top, #d7d2cc, #304352);
  color: #fff;
}

.rain,
.drizzle {
  background: linear-gradient(to top, #4b79a1, #283e51);
  color: #fff;
}

.snow {
  background: linear-gradient(to top, #e6dada, #274046);
  color: #333;
}

.fog,
.mist {
  background: linear-gradient(to top, #3e5151, #decba4);
  color: #333;
}

.thunderstorm {
  background: linear-gradient(to top, #141e30, #243b55);
  color: #fff;
}

.default {
  background: #f0f0f0;
  color: #333;
}